*.gch
*.log
*.o
*.zip
*.tar.gz
*.exe
*.spv
GitStats
Exports
bin
buildDebugL
buildReleaseL
buildDebugW
buildReleaseW
.vs
vs
obj
*.data
*.data.old
*.a
.touch*
*.conf
.vscode
projects/fractal_explorer/*.png
